<!-- Footer -->
<footer class=" footer">
  <div class=" container-fluid">
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} <a href="https://www.linkedin.com/in/abilbaotm" target="_blank">@abilbaotm</a>
      y <a href="https://www.linkedin.com/in/redlayer/" target="_blank">@RedLayer</a>. <a
      (click)="verNotaDesarrollador()" href="#">Ver nota del desarrollador</a> <span
      class="text-nowrap"> v. {{actualVersion}}</span>
    </div>
  </div>
</footer>
