<!-- Nuevo / Editar gastos -->
<div class=" content">
  <div class="card card-stats">
    <form (ngSubmit)="nuevoGasto(form.value)" [formGroup]="form">
      <div class="card-body row">
        <!-- Pone un titulo u otro en funcion de que se este haciendo -->
        <div class="col-12">
          <h1 *ngIf="currentStatus==1">Nuevo gasto</h1>
          <h1 *ngIf="currentStatus==2">Editar gasto</h1>
        </div>
        <div class="col-12 col-md-6">


          <label for="descripcion">Descripcion</label>
          <input
            class="form-control"
            formControlName="descripcion"
            id="descripcion"
            maxlength="40" type="text"/>

          <label for="fecha">Fecha en {{timezoneForm}}</label>
          <input class="form-control" formControlName="fecha" id="fecha" type="datetime-local">
          <label for="cantidad">Cantidad</label>
          <input class="form-control" formControlName="cantidad" id="cantidad" type="number"/>

          <label for="moneda">Moneda</label>
          <select class="form-control" formControlName="moneda" id="moneda">
            <option *ngFor="let moneda of monedas" label="{{moneda}}" value="{{moneda}}">{{moneda}}</option>
          </select>
          <label for="ratio">Ratio</label>
          <input class="form-control" formControlName="ratio" id="ratio" type="number"/>
          <p>{{msgRatio}}</p>

          <label for="pagador">Paga</label>
          <select class="form-control" formControlName="pagador" id="pagador">
            <option *ngFor="let persona of personasViaje | keyvalue "
                    value="{{persona.key}}">{{persona.value['nombre']}}</option>
          </select>

          <div class=" form-check">
            <label class=" form-check-label">
              <input checked="" class=" form-check-input" formControlName="partesIguales"
                     type="checkbox">
              <span class=" form-check-sign">
                    <span class=" check"></span> partes iguales
                  </span>
            </label>
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div
            [hidden]="form.controls.partesIguales.value"
            formArrayName="terceros"
            margin-bottom>


            <section
              *ngFor="let tech of form.controls.terceros['controls']; let i = index"
              [formGroupName]="i" class="col-12 redondo form-group">
              <div class=" form-check">
                <label class=" form-check-label">
                  <input (ngModelChange)="sumas()" checked="" class=" form-check-input"
                         formControlName="incluir" type="checkbox">
                  <span class=" form-check-sign">
                    <span class=" check"></span>  Incluir
                  </span>
                </label>
              </div>
              <input
                formControlName="id"
                type="hidden"/>
              <label for="refTercero{{i}}">Ref</label>
              <input
                class="form-control"
                formControlName="nombre"
                id="refTercero{{i}}" maxlength="50" type="text"/>

              <label for="cantidadTercero{{i}}">Cantidad (moneda local)</label>
              <input
                class="form-control"
                [readOnly]="!mapaIncluir[i]" formControlName="cantidad" id="cantidadTercero{{i}}" maxlength="50"
                type="number"/>

            </section>
          </div>

        </div>
        <!-- El boton cambia en funcion de lo que se este haciendo -->
        <div class="col-12 text-center">
          <input [disabled]="!form.valid" [value]="(currentStatus == 1) ? 'Guardar' : 'Editar'" class="btn btn-primary"
                 type="submit">
        </div>
      </div>
    </form>

  </div>


</div>
