<!-- Nuevo viaje -->
<div class=" content">
  <div class="card card-stats">
    <form (ngSubmit)="nuevoViaje(form.value)" [formGroup]="form">
      <div class="card-body row">
        <!-- Sale un titulo u otro en base a lo que se haga -->
        <div class="col-12">
          <h1 *ngIf="currentStatus == 1">Nuevo viaje</h1>
          <h1 *ngIf="currentStatus == 2">Editar viaje</h1>
        </div>
        <div class="col-12 col-md-6">
          <label for="descripcion">Nombre viaje</label>
          <input
            class="form-control "
            formControlName="descripcion"
            id="descripcion"
            maxlength="40" type="text"/>

          <label for="fechas">Duración del viaje</label>
          <input class="form-control" formControlName="fechas" id="fechas" ngxDaterangepickerMd type="text"/>


          <div class="form-group">
            <label for="monedaPrincipal">Moneda principal</label>
            <select class="form-control" formControlName="monedaPrincipal" id="monedaPrincipal">
              <option label="Euro" value="EUR">EUR</option>
              <option label="US dollar" value="USD">USD</option>
              <option label="Japanese yen" value="JPY">JPY</option>
              <option label="Pound sterling" value="GBP">GBP</option>
              <option disabled>──────────</option>
              <option label="United Arab Emirates dirham" value="AED">AED</option>
              <option label="Afghan afghani" value="AFN">AFN</option>
              <option label="Albanian lek" value="ALL">ALL</option>
              <option label="Armenian dram" value="AMD">AMD</option>
              <option label="Netherlands Antillean guilder" value="ANG">ANG</option>
              <option label="Angolan kwanza" value="AOA">AOA</option>
              <option label="Argentine peso" value="ARS">ARS</option>
              <option label="Australian dollar" value="AUD">AUD</option>
              <option label="Aruban florin" value="AWG">AWG</option>
              <option label="Azerbaijani manat" value="AZN">AZN</option>
              <option label="Bosnia and Herzegovina convertible mark" value="BAM">BAM</option>
              <option label="Barbadian dollar" value="BBD">BBD</option>
              <option label="Bangladeshi taka" value="BDT">BDT</option>
              <option label="Bulgarian lev" value="BGN">BGN</option>
              <option label="Bahraini dinar" value="BHD">BHD</option>
              <option label="Burundian franc" value="BIF">BIF</option>
              <option label="Bermudian dollar" value="BMD">BMD</option>
              <option label="Brunei dollar" value="BND">BND</option>
              <option label="Bolivian boliviano" value="BOB">BOB</option>
              <option label="Brazilian real" value="BRL">BRL</option>
              <option label="Bahamian dollar" value="BSD">BSD</option>
              <option label="Bhutanese ngultrum" value="BTN">BTN</option>
              <option label="Botswana pula" value="BWP">BWP</option>
              <option label="Belarusian ruble" value="BYN">BYN</option>
              <option label="Belize dollar" value="BZD">BZD</option>
              <option label="Canadian dollar" value="CAD">CAD</option>
              <option label="Congolese franc" value="CDF">CDF</option>
              <option label="Swiss franc" value="CHF">CHF</option>
              <option label="Chilean peso" value="CLP">CLP</option>
              <option label="Chinese yuan" value="CNY">CNY</option>
              <option label="Colombian peso" value="COP">COP</option>
              <option label="Costa Rican colón" value="CRC">CRC</option>
              <option label="Cuban convertible peso" value="CUC">CUC</option>
              <option label="Cuban peso" value="CUP">CUP</option>
              <option label="Cape Verdean escudo" value="CVE">CVE</option>
              <option label="Czech koruna" value="CZK">CZK</option>
              <option label="Djiboutian franc" value="DJF">DJF</option>
              <option label="Danish krone" value="DKK">DKK</option>
              <option label="Dominican peso" value="DOP">DOP</option>
              <option label="Algerian dinar" value="DZD">DZD</option>
              <option label="Egyptian pound" value="EGP">EGP</option>
              <option label="Eritrean nakfa" value="ERN">ERN</option>
              <option label="Ethiopian birr" value="ETB">ETB</option>
              <option label="EURO" value="EUR">EUR</option>
              <option label="Fijian dollar" value="FJD">FJD</option>
              <option label="Falkland Islands pound" value="FKP">FKP</option>
              <option label="British pound" value="GBP">GBP</option>
              <option label="Georgian lari" value="GEL">GEL</option>
              <option label="Guernsey pound" value="GGP">GGP</option>
              <option label="Ghanaian cedi" value="GHS">GHS</option>
              <option label="Gibraltar pound" value="GIP">GIP</option>
              <option label="Gambian dalasi" value="GMD">GMD</option>
              <option label="Guinean franc" value="GNF">GNF</option>
              <option label="Guatemalan quetzal" value="GTQ">GTQ</option>
              <option label="Guyanese dollar" value="GYD">GYD</option>
              <option label="Hong Kong dollar" value="HKD">HKD</option>
              <option label="Honduran lempira" value="HNL">HNL</option>
              <option label="Hong Kong dollar" value="HKD">HKD</option>
              <option label="Croatian kuna" value="HRK">HRK</option>
              <option label="Haitian gourde" value="HTG">HTG</option>
              <option label="Hungarian forint" value="HUF">HUF</option>
              <option label="Indonesian rupiah" value="IDR">IDR</option>
              <option label="Israeli new shekel" value="ILS">ILS</option>
              <option label="Manx pound" value="IMP">IMP</option>
              <option label="Indian rupee" value="INR">INR</option>
              <option label="Iraqi dinar" value="IQD">IQD</option>
              <option label="Iranian rial" value="IRR">IRR</option>
              <option label="Icelandic króna" value="ISK">ISK</option>
              <option label="Jersey pound" value="JEP">JEP</option>
              <option label="Jamaican dollar" value="JMD">JMD</option>
              <option label="Jordanian dinar" value="JOD">JOD</option>
              <option label="Japanese yen" value="JPY">JPY</option>
              <option label="Kenyan shilling" value="KES">KES</option>
              <option label="Kyrgyzstani som" value="KGS">KGS</option>
              <option label="Cambodian riel" value="KHR">KHR</option>
              <option label="Kiribati dollar" value="KID">KID</option>
              <option label="Comorian franc" value="KMF">KMF</option>
              <option label="North Korean won" value="KPW">KPW</option>
              <option label="South Korean won" value="KRW">KRW</option>
              <option label="Kuwaiti dinar" value="KWD">KWD</option>
              <option label="Cayman Islands dollar" value="KYD">KYD</option>
              <option label="Kazakhstani tenge" value="KZT">KZT</option>
              <option label="Lao kip" value="LAK">LAK</option>
              <option label="Lebanese pound" value="LBP">LBP</option>
              <option label="Sri Lankan rupee" value="LKR">LKR</option>
              <option label="Liberian dollar" value="LRD">LRD</option>
              <option label="Lesotho loti" value="LSL">LSL</option>
              <option label="Libyan dinar" value="LYD">LYD</option>
              <option label="Moroccan dirham" value="MAD">MAD</option>
              <option label="Moldovan leu" value="MDL">MDL</option>
              <option label="Malagasy ariary" value="MGA">MGA</option>
              <option label="Macedonian denar" value="MKD">MKD</option>
              <option label="Burmese kyat" value="MMK">MMK</option>
              <option label="Mongolian tögrög" value="MNT">MNT</option>
              <option label="Macanese pataca" value="MOP">MOP</option>
              <option label="Mauritanian ouguiya" value="MRU">MRU</option>
              <option label="Mauritian rupee" value="MUR">MUR</option>
              <option label="Maldivian rufiyaa" value="MVR">MVR</option>
              <option label="Malawian kwacha" value="MWK">MWK</option>
              <option label="Mexican peso" value="MXN">MXN</option>
              <option label="Malaysian ringgit" value="MYR">MYR</option>
              <option label="Mozambican metical" value="MZN">MZN</option>
              <option label="Namibian dollar" value="NAD">NAD</option>
              <option label="Nigerian naira" value="NGN">NGN</option>
              <option label="Nicaraguan córdoba" value="NIO">NIO</option>
              <option label="Norwegian krone" value="NOK">NOK</option>
              <option label="Nepalese rupee" value="NPR">NPR</option>
              <option label="New Zealand dollar" value="NZD">NZD</option>
              <option label="Omani rial" value="OMR">OMR</option>
              <option label="Panamanian balboa" value="PAB">PAB</option>
              <option label="Peruvian sol" value="PEN">PEN</option>
              <option label="Papua New Guinean kina" value="PGK">PGK</option>
              <option label="Philippine peso" value="PHP">PHP</option>
              <option label="Pakistani rupee" value="PKR">PKR</option>
              <option label="Polish złoty" value="PLN">PLN</option>
              <option label="Transnistrian ruble" value="PRB">PRB</option>
              <option label="Paraguayan guaraní" value="PYG">PYG</option>
              <option label="Qatari riyal" value="QAR">QAR</option>
              <option label="Romanian leu" value="RON">RON</option>
              <option label="Romanian leu" value="RON">RON</option>
              <option label="Serbian dinar" value="RSD">RSD</option>
              <option label="Russian ruble" value="RUB">RUB</option>
              <option label="Rwandan franc" value="RWF">RWF</option>
              <option label="Saudi riyal" value="SAR">SAR</option>
              <option label="Swedish krona" value="SEK">SEK</option>
              <option label="Singapore dollar" value="SGD">SGD</option>
              <option label="Saint Helena pound" value="SHP">SHP</option>
              <option label="Sierra Leonean leone" value="SLL">SLL</option>
              <option label="Somaliland shilling" value="SLS">SLS</option>
              <option label="Somali shilling" value="SOS">SOS</option>
              <option label="Surinamese dollar" value="SRD">SRD</option>
              <option label="South Sudanese pound" value="SSP">SSP</option>
              <option label="São Tomé and Príncipe dobra" value="STN">STN</option>
              <option label="Syrian pound" value="SYP">SYP</option>
              <option label="Swazi lilangeni" value="SZL">SZL</option>
              <option label="Thai baht" value="THB">THB</option>
              <option label="Tajikistani somoni" value="TJS">TJS</option>
              <option label="Turkmenistan manat" value="TMT">TMT</option>
              <option label="Tunisian dinar" value="TND">TND</option>
              <option label="Tongan paʻanga" value="TOP">TOP</option>
              <option label="Turkish lira" value="TRY">TRY</option>
              <option label="Trinidad and Tobago dollar" value="TTD">TTD</option>
              <option label="Tuvaluan dollar" value="TVD">TVD</option>
              <option label="New Taiwan dollar" value="TWD">TWD</option>
              <option label="Tanzanian shilling" value="TZS">TZS</option>
              <option label="Ukrainian hryvnia" value="UAH">UAH</option>
              <option label="Ugandan shilling" value="UGX">UGX</option>
              <option label="United States dollar" value="USD">USD</option>
              <option label="Uruguayan peso" value="UYU">UYU</option>
              <option label="Uzbekistani soʻm" value="UZS">UZS</option>
              <option label="Venezuelan bolívar soberano" value="VES">VES</option>
              <option label="Vietnamese đồng" value="VND">VND</option>
              <option label="Vanuatu vatu" value="VUV">VUV</option>
              <option label="Samoan tālā" value="WST">WST</option>
              <option label="Central African CFA franc" value="XAF">XAF</option>
              <option label="Eastern Caribbean dollar" value="XCD">XCD</option>
              <option label="West African CFA franc" value="XOF">XOF</option>
              <option label="CFP franc" value="XPF">XPF</option>
              <option label="South African rand" value="ZAR">ZAR</option>
              <option label="Zambian kwacha" value="ZMW">ZMW</option>
              <option label="Zimbabwean bonds" value="ZWB">ZWB</option>
            </select>
          </div>

          <label for="presupuesto">Presupuesto del viaje (en moneda principal)</label>
          <input class="form-control" formControlName="presupuesto" id="presupuesto" type="number"/>

          <div class="form-group">
            <label for="monedasAdicionales">Otras monedas</label>
            <select class="form-control form-multiple" formControlName="monedasAdicionales" id="monedasAdicionales"
                    multiple>
              <option label="Euro" value="EUR">EUR</option>
              <option label="US dollar" value="USD">USD</option>
              <option label="Japanese yen" value="JPY">JPY</option>
              <option label="Pound sterling" value="GBP">GBP</option>
              <option disabled>──────────</option>
              <option label="United Arab Emirates dirham" value="AED">AED</option>
              <option label="Afghan afghani" value="AFN">AFN</option>
              <option label="Albanian lek" value="ALL">ALL</option>
              <option label="Armenian dram" value="AMD">AMD</option>
              <option label="Netherlands Antillean guilder" value="ANG">ANG</option>
              <option label="Angolan kwanza" value="AOA">AOA</option>
              <option label="Argentine peso" value="ARS">ARS</option>
              <option label="Australian dollar" value="AUD">AUD</option>
              <option label="Aruban florin" value="AWG">AWG</option>
              <option label="Azerbaijani manat" value="AZN">AZN</option>
              <option label="Bosnia and Herzegovina convertible mark" value="BAM">BAM</option>
              <option label="Barbadian dollar" value="BBD">BBD</option>
              <option label="Bangladeshi taka" value="BDT">BDT</option>
              <option label="Bulgarian lev" value="BGN">BGN</option>
              <option label="Bahraini dinar" value="BHD">BHD</option>
              <option label="Burundian franc" value="BIF">BIF</option>
              <option label="Bermudian dollar" value="BMD">BMD</option>
              <option label="Brunei dollar" value="BND">BND</option>
              <option label="Bolivian boliviano" value="BOB">BOB</option>
              <option label="Brazilian real" value="BRL">BRL</option>
              <option label="Bahamian dollar" value="BSD">BSD</option>
              <option label="Bhutanese ngultrum" value="BTN">BTN</option>
              <option label="Botswana pula" value="BWP">BWP</option>
              <option label="Belarusian ruble" value="BYN">BYN</option>
              <option label="Belize dollar" value="BZD">BZD</option>
              <option label="Canadian dollar" value="CAD">CAD</option>
              <option label="Congolese franc" value="CDF">CDF</option>
              <option label="Swiss franc" value="CHF">CHF</option>
              <option label="Chilean peso" value="CLP">CLP</option>
              <option label="Chinese yuan" value="CNY">CNY</option>
              <option label="Colombian peso" value="COP">COP</option>
              <option label="Costa Rican colón" value="CRC">CRC</option>
              <option label="Cuban convertible peso" value="CUC">CUC</option>
              <option label="Cuban peso" value="CUP">CUP</option>
              <option label="Cape Verdean escudo" value="CVE">CVE</option>
              <option label="Czech koruna" value="CZK">CZK</option>
              <option label="Djiboutian franc" value="DJF">DJF</option>
              <option label="Danish krone" value="DKK">DKK</option>
              <option label="Dominican peso" value="DOP">DOP</option>
              <option label="Algerian dinar" value="DZD">DZD</option>
              <option label="Egyptian pound" value="EGP">EGP</option>
              <option label="Eritrean nakfa" value="ERN">ERN</option>
              <option label="Ethiopian birr" value="ETB">ETB</option>
              <option label="EURO" value="EUR">EUR</option>
              <option label="Fijian dollar" value="FJD">FJD</option>
              <option label="Falkland Islands pound" value="FKP">FKP</option>
              <option label="British pound" value="GBP">GBP</option>
              <option label="Georgian lari" value="GEL">GEL</option>
              <option label="Guernsey pound" value="GGP">GGP</option>
              <option label="Ghanaian cedi" value="GHS">GHS</option>
              <option label="Gibraltar pound" value="GIP">GIP</option>
              <option label="Gambian dalasi" value="GMD">GMD</option>
              <option label="Guinean franc" value="GNF">GNF</option>
              <option label="Guatemalan quetzal" value="GTQ">GTQ</option>
              <option label="Guyanese dollar" value="GYD">GYD</option>
              <option label="Hong Kong dollar" value="HKD">HKD</option>
              <option label="Honduran lempira" value="HNL">HNL</option>
              <option label="Hong Kong dollar" value="HKD">HKD</option>
              <option label="Croatian kuna" value="HRK">HRK</option>
              <option label="Haitian gourde" value="HTG">HTG</option>
              <option label="Hungarian forint" value="HUF">HUF</option>
              <option label="Indonesian rupiah" value="IDR">IDR</option>
              <option label="Israeli new shekel" value="ILS">ILS</option>
              <option label="Manx pound" value="IMP">IMP</option>
              <option label="Indian rupee" value="INR">INR</option>
              <option label="Iraqi dinar" value="IQD">IQD</option>
              <option label="Iranian rial" value="IRR">IRR</option>
              <option label="Icelandic króna" value="ISK">ISK</option>
              <option label="Jersey pound" value="JEP">JEP</option>
              <option label="Jamaican dollar" value="JMD">JMD</option>
              <option label="Jordanian dinar" value="JOD">JOD</option>
              <option label="Japanese yen" value="JPY">JPY</option>
              <option label="Kenyan shilling" value="KES">KES</option>
              <option label="Kyrgyzstani som" value="KGS">KGS</option>
              <option label="Cambodian riel" value="KHR">KHR</option>
              <option label="Kiribati dollar" value="KID">KID</option>
              <option label="Comorian franc" value="KMF">KMF</option>
              <option label="North Korean won" value="KPW">KPW</option>
              <option label="South Korean won" value="KRW">KRW</option>
              <option label="Kuwaiti dinar" value="KWD">KWD</option>
              <option label="Cayman Islands dollar" value="KYD">KYD</option>
              <option label="Kazakhstani tenge" value="KZT">KZT</option>
              <option label="Lao kip" value="LAK">LAK</option>
              <option label="Lebanese pound" value="LBP">LBP</option>
              <option label="Sri Lankan rupee" value="LKR">LKR</option>
              <option label="Liberian dollar" value="LRD">LRD</option>
              <option label="Lesotho loti" value="LSL">LSL</option>
              <option label="Libyan dinar" value="LYD">LYD</option>
              <option label="Moroccan dirham" value="MAD">MAD</option>
              <option label="Moldovan leu" value="MDL">MDL</option>
              <option label="Malagasy ariary" value="MGA">MGA</option>
              <option label="Macedonian denar" value="MKD">MKD</option>
              <option label="Burmese kyat" value="MMK">MMK</option>
              <option label="Mongolian tögrög" value="MNT">MNT</option>
              <option label="Macanese pataca" value="MOP">MOP</option>
              <option label="Mauritanian ouguiya" value="MRU">MRU</option>
              <option label="Mauritian rupee" value="MUR">MUR</option>
              <option label="Maldivian rufiyaa" value="MVR">MVR</option>
              <option label="Malawian kwacha" value="MWK">MWK</option>
              <option label="Mexican peso" value="MXN">MXN</option>
              <option label="Malaysian ringgit" value="MYR">MYR</option>
              <option label="Mozambican metical" value="MZN">MZN</option>
              <option label="Namibian dollar" value="NAD">NAD</option>
              <option label="Nigerian naira" value="NGN">NGN</option>
              <option label="Nicaraguan córdoba" value="NIO">NIO</option>
              <option label="Norwegian krone" value="NOK">NOK</option>
              <option label="Nepalese rupee" value="NPR">NPR</option>
              <option label="New Zealand dollar" value="NZD">NZD</option>
              <option label="Omani rial" value="OMR">OMR</option>
              <option label="Panamanian balboa" value="PAB">PAB</option>
              <option label="Peruvian sol" value="PEN">PEN</option>
              <option label="Papua New Guinean kina" value="PGK">PGK</option>
              <option label="Philippine peso" value="PHP">PHP</option>
              <option label="Pakistani rupee" value="PKR">PKR</option>
              <option label="Polish złoty" value="PLN">PLN</option>
              <option label="Transnistrian ruble" value="PRB">PRB</option>
              <option label="Paraguayan guaraní" value="PYG">PYG</option>
              <option label="Qatari riyal" value="QAR">QAR</option>
              <option label="Romanian leu" value="RON">RON</option>
              <option label="Romanian leu" value="RON">RON</option>
              <option label="Serbian dinar" value="RSD">RSD</option>
              <option label="Russian ruble" value="RUB">RUB</option>
              <option label="Rwandan franc" value="RWF">RWF</option>
              <option label="Saudi riyal" value="SAR">SAR</option>
              <option label="Swedish krona" value="SEK">SEK</option>
              <option label="Singapore dollar" value="SGD">SGD</option>
              <option label="Saint Helena pound" value="SHP">SHP</option>
              <option label="Sierra Leonean leone" value="SLL">SLL</option>
              <option label="Somaliland shilling" value="SLS">SLS</option>
              <option label="Somali shilling" value="SOS">SOS</option>
              <option label="Surinamese dollar" value="SRD">SRD</option>
              <option label="South Sudanese pound" value="SSP">SSP</option>
              <option label="São Tomé and Príncipe dobra" value="STN">STN</option>
              <option label="Syrian pound" value="SYP">SYP</option>
              <option label="Swazi lilangeni" value="SZL">SZL</option>
              <option label="Thai baht" value="THB">THB</option>
              <option label="Tajikistani somoni" value="TJS">TJS</option>
              <option label="Turkmenistan manat" value="TMT">TMT</option>
              <option label="Tunisian dinar" value="TND">TND</option>
              <option label="Tongan paʻanga" value="TOP">TOP</option>
              <option label="Turkish lira" value="TRY">TRY</option>
              <option label="Trinidad and Tobago dollar" value="TTD">TTD</option>
              <option label="Tuvaluan dollar" value="TVD">TVD</option>
              <option label="New Taiwan dollar" value="TWD">TWD</option>
              <option label="Tanzanian shilling" value="TZS">TZS</option>
              <option label="Ukrainian hryvnia" value="UAH">UAH</option>
              <option label="Ugandan shilling" value="UGX">UGX</option>
              <option label="United States dollar" value="USD">USD</option>
              <option label="Uruguayan peso" value="UYU">UYU</option>
              <option label="Uzbekistani soʻm" value="UZS">UZS</option>
              <option label="Venezuelan bolívar soberano" value="VES">VES</option>
              <option label="Vietnamese đồng" value="VND">VND</option>
              <option label="Vanuatu vatu" value="VUV">VUV</option>
              <option label="Samoan tālā" value="WST">WST</option>
              <option label="Central African CFA franc" value="XAF">XAF</option>
              <option label="Eastern Caribbean dollar" value="XCD">XCD</option>
              <option label="West African CFA franc" value="XOF">XOF</option>
              <option label="CFP franc" value="XPF">XPF</option>
              <option label="South African rand" value="ZAR">ZAR</option>
              <option label="Zambian kwacha" value="ZMW">ZMW</option>
              <option label="Zimbabwean bonds" value="ZWB">ZWB</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <h3>Participantes</h3>

          <div
            formArrayName="terceros">


            <div *ngIf="currentStatus == 1" class="col-12 redondo form-group">
              <div class="row">
                <div class="col-12 pt-2 pb-0 text-center">
                  <p>Viajero #1</p>
                </div>
                <div class="col-6">
                  <label for="terceronombrebase">Nombre</label>
                  <input
                    class="form-control"
                    disabled=""
                    id="terceronombrebase"
                    type="text"
                    value="{{user.name}}"
                  />
                </div>
                <div class="col-6">
                  <label for="terceroemailbase">Email</label>
                  <input
                    class="form-control"
                    disabled=""
                    id="terceroemailbase"
                    type="text"
                    value="{{user.email}}"
                  />
                </div>
              </div>
            </div>


            <section
              *ngFor="let tech of form.controls.terceros['controls']; let i = index"
              [formGroupName]="i"
              class="col-12 redondo form-group">
              <div (click)="removeInputField(i)" *ngIf="currentStatus == 1 || i >= totalTerceros" class="btn-eliminar">
                <i class="tim-icons icon-simple-remove"></i>
              </div>
              <input
                formControlName="id"
                type="hidden"/>
              <div class="row">
                <div class="col-12 pt-2 pb-0 text-center">
                  <p *ngIf="currentStatus == 1">Viajero #{{i + 2}}</p>
                  <p *ngIf="currentStatus == 2">Viajero #{{i + 1}}</p>
                </div>
                <div class="col-6">
                  <label for="terceronombre{{i}}">Nombre</label>
                  <input
                    class="form-control"
                    formControlName="nombre"
                    id="terceronombre{{i}}"
                    maxlength="50"
                    type="text"/>
                </div>
                <div class="col-6">
                  <label for="terceroemail{{i}}">Email</label>
                  <input
                    class="form-control"
                    formControlName="email"
                    id="terceroemail{{i}}"
                    maxlength="50"
                    type="email"/>
                </div>
                <div *ngIf="tech.get('email').value" class="col-12">
                  <div class=" form-check">
                    <label class=" form-check-label mr-3 mb-2">
                      <input class=" form-check-input"
                             formControlName="aniadirGastos" type="checkbox">
                      <span class=" form-check-sign">
                        <span class=" check"></span>  Puede añadir gastos
                      </span>
                    </label>
                    <label class=" form-check-label">
                      <input class=" form-check-input"
                             formControlName="aniadirPagos" type="checkbox">
                      <span class=" form-check-sign">
                        <span class=" check"></span>  Puede añadir pagos
                      </span>
                    </label>
                  </div>

                </div>
              </div>


            </section>
          </div>


          <!-- Permite crear inputs-->
          <div class="text-center">
            <input (click)="addNewInputField()" class="btn" type="button" value="Añadir persona">
          </div>


        </div>
        <div class="col-12 text-center">
          <input [disabled]="!form.valid" [value]="(currentStatus == 1) ? 'Crear' : 'Editar'" class="btn btn-secondary"
                 type="submit">
        </div>
      </div>
    </form>

  </div>
  <!-- Si se esta editando el viaje saldrán estos botones -->
  <div *ngIf="currentStatus == 2" class="card card-stats">
    <div class="card-body row">
      <div class="col-12">
        <h1>Zona de peligro</h1>
      </div>
      <div class="col-12 text-center">
        <button [swal]="deleteSwal" class=" btn btn-danger mr-3" type="button">
          Borrar
        </button>
        <swal
          #deleteSwal
          (confirm)="borrarViaje()"
          [focusCancel]="true"
          [showCancelButton]="true"
          cancelButtonText="Cancelar"
          confirmButtonText="Borrar"
          icon="warning"
          text="Esta acción no se puede deshacer"
          title="¿Eliminar viaje {{viajeupdate.descripcion}}?">
        </swal>
        <button [swal]="archivarSwal" class=" btn btn-danger ml-3" type="button">
          Archivar
        </button>
        <swal
          #archivarSwal
          (confirm)="archivarViaje()"
          [focusCancel]="true"
          [showCancelButton]="true"
          cancelButtonText="Cancelar"
          confirmButtonText="Archivar"
          icon="info"
          text=""
          title="¿Archivar {{viajeupdate.descripcion}}?">
        </swal>
      </div>
    </div>
  </div>

</div>
