// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$black-dashboard-angular-primary: mat-palette($mat-indigo);
$black-dashboard-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$black-dashboard-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$black-dashboard-angular-theme: mat-light-theme($black-dashboard-angular-primary, $black-dashboard-angular-accent, $black-dashboard-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($black-dashboard-angular-theme);
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-yellow);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);

  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #1d253b !important;
    color: #949cb3 !important;;
  }

}

/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// fix https://gitlab.com/pabil/bote-dw/-/issues/52
svg text {
  fill: $dark-primary-text;
}

.dark-theme {
  svg text {
    fill: $light-primary-text;
  }
}

// datepicker
@import '~ngx-daterangepicker-material/daterangepicker-theme.scss';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include date-range-picker-theme($theme);


#nota-desarrollador {

  p, li {
    color: black;
    font-size: 0.875rem;
  }

  p {
    text-align: left;
  }

  li {
    text-align: left;
  }

  span {
    font-size: 1rem;
    font-weight: bold;

  }
}


