<!-- Pagina de inicio -->

<!-- Bucle de las categorias -->
<div class=" content">
  <div *ngIf="ningunViaje">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-md-6 mx-auto">
          <div class="jumbotron text-center">
            <p>Parece que no tienes ningún viaje programado.</p>
            <input class="btn" routerLink="/nuevoviaje" type="button" value="Crear viaje">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let categoria of ['Activos','Futuros','Archivados','Pendientes de Borrar']" class="row">
    <div *ngIf="todosViajes[categoria].length > 0" class="col-12">
      <h3>{{categoria}}</h3>
    </div>

    <!-- Bucle para sacar los viajes -->
    <div *ngFor="let viaje of todosViajes[categoria]" class="col-12 col-md-6">
      <div class=" card card-stats " routerLink="/viaje/{{viaje.id}}">
        <div *ngIf="categoria != 'Archivados' && categoria != 'Pendientes de Borrar' && viaje.data.foto != undefined"
             class="crop">
          <p>Foto por <a href="{{viaje.data.foto.user.links.html}}?utm_source=Pro.Bote&utm_medium=referral"
                         target="_blank">{{viaje.data.foto.user.name}}</a> en <a
            href="https://unsplash.com/?utm_source=Pro.Bote&utm_medium=referral" target="_blank">Unsplash</a></p>
          <img class="fotourls" src="{{viaje.data.foto.urls.regular}}">
        </div>
        <div class=" card-body">
          <div class=" row">
            <div class=" col-12">
              <p class=" cart-title">{{viaje.data.descripcion}}
                <span *ngIf="viaje.data.borrado" class="badge badge-primary mx-1">Pendiente de borrar</span>
                <span *ngIf="viaje.data.archivado" class="badge badge-danger mx-1">Archivado</span>
              </p>
              <p
                class="card-description">{{viaje.data.fechasInicio == viaje.data.fechasFin ? viaje.data.fechasInicio : 'Del ' + viaje.data.fechasInicio + ' al ' + viaje.data.fechasFin}}
              </p>

              <p class=" card-category">Usuarios:
                <span *ngFor="let usuario of viaje.data.permitidos | keyvalue">
                    {{usuario.value["nombre"]}}
                  </span>
              </p>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <hr>
          <div class=" stats" routerLink="/viaje/{{viaje.id}}">
            <i class=" tim-icons icon-sound-wave"></i> Acceder partida
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
